/* === Top Navigation Styles === */

/* Style for the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #db1e1e; /* Replace with your desired color */
  display: flex;
  align-items: center;
}

/* Style for each link in the top navigation bar */
.topnav a {
  float: left;
  color: #371c6b; /* Replace with your desired color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Style for the links when hovered over */
.topnav a:hover {
  background-color: #ddd; /* Replace with your desired color */
  color: black;
}

/* Style for the active link in the top navigation bar */
.topnav a.active {
  background-color: #04AA6D; /* Replace with your desired color */
  color: rgb(17, 3, 3);
}

/* Additional styling for the logo link, adding right margin */
.logo-link {
  margin-right: 20px;
}

/* === Responsive Design === */

@media screen and (max-width: 600px) {
  /* Add styles for smaller screens */
}
