/* UserGuides.css */

.user-guides-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.video-accordion-container {
  width: 100%;
  max-width: 800px; /* Adjust the max width as needed */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.accordion-header.open {
  background-color: #ddd;
}

.accordion-content {
  padding: 10px;
}

/* Center the videos within the accordion */
.react-player {
  margin: 0 auto;
  display: block;
}
