.container{
    border-radius: 1.3rem;
}

.title{
    font-family: monospace;
    text-align: left;
}

.formarea{
    display:center;
    max-width: 80rem;
    max-height: 15rem;
    text-align: center;
    margin-left: 28rem;
}
.comments{
    row-gap: 4;
    columns: 50;
    

}


/*rows="4"
                  cols="50"*/