/* Style for the top navigation bar */
.topnav {
  overflow: hidden; /* Hides overflowing content */
  background-color: #ffffff; /* Background color for the top navigation bar */
  display: flex; /* Use a flex container to align child elements */
  align-items: center; /* Center-align child elements vertically */
}

/* Style for each link in the top navigation bar */
.topnav a {
  float: left; /* Float the links to the left side */
  color: #1d1919; /* Text color for the links */
  text-align: center; /* Center-align the text within the links */
  padding: 14px 16px; /* Padding around each link */
  text-decoration: none; /* Remove default underline styling for links */
  font-size: 17px; /* Font size for the links */
}

/* Style for the links when hovered over */
.topnav a:hover {
  background-color: #ddd; /* Background color on hover */
  color: black; /* Text color on hover */
}

/* Style for the active link in the top navigation bar */
.topnav a.active {
  background-color: #04AA6D; /* Background color for the active link */
  color: white; /* Text color for the active link */
}

.container {
  display: flex;
  flex-direction: column;
}


/* Additional styling for the logo link, adding right margin */
.logo-link {
  margin-right: 20px; /* Adjust the margin as needed for the logo link */
}

.central-font{
  display: flex; /* Use flexbox to arrange child elements */
  flex-direction: column; /* Arrange child elements in a column */
  align-items: center; /* Center child elements horizontally */
  padding-bottom:25px;
 
}


.general-container {
  width: 400px; /* Adjust the width as needed */
  margin-right: 40px;
  margin-left: 40px;
  padding: 20px;
  border: 2px solid #ccc; /* Border color can be adjusted */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center items to the left */
  min-height: 90vh;/* Adjust the min-height as needed for the desired vertical centering */
  float:left;
  vertical-align: text-top;
}

.manager-container {
  width: 400px; /* Adjust the width as needed */
  margin-right: 40px;
  padding: 20px;
  border: 2px solid #ccc; /* Border color can be adjusted */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center items to the left */
  min-height: 90vh;/* Adjust the min-height as needed for the desired vertical centering */
  text-align:top;
  float:left;
}
.HR-container {
  width: 400px; /* Adjust the width as needed */
  margin: auto;
  padding: 20px;
  border: 2px solid #ccc; /* Border color can be adjusted */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Center items to the left */
  min-height: 90vh;/* Adjust the min-height as needed for the desired vertical centering */
  float:left;
}








